$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'fonts';

body {
  font-family: $main-font;
}

.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}

.game-board {
  font-size: 88px;
  text-align: center;
}

#form-signout {
  display: none;
  margin: 0 auto;
  max-width: 200px;
  padding: 15px;
}

.start-hidden {
  display: none;
}

#start-game {
  margin: 0 auto;
  display: none;
  max-width: 200px;
  padding: 15px;
}

.black-border {
  border: solid 1px black;
  height: 100px;
}

.board-cell {
  height: 100px;
}

h2 {
  text-align: center;
}

#get-games {
  max-width: 200px;
  padding: 15px;
  margin: 0 auto;
}

.padding {
  height: 300px;
}

.hide-board {
  display: none;
}
