$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.form-signin {
  max-width: 330px;
    padding: 15px;
    margin: 0 auto
}

#signout-button {
  max-width: 200px;
    padding: 15px;
    margin: 0 auto
}
.black-border {
  border: solid 1px black;
  height: 100px;
}
.board-cell{
  height: 100px;
}
