$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.form-signin {
  max-width: 330px;
    padding: 15px;
    margin: 0 auto
}

#form-signout{
  max-width: 200px;
    padding: 15px;
    margin: 0 auto;
    display: none;
}
#form-signup{
  display: none;
}
#change-password{
  display: none;
}
#get-games{
  display: none;
}
#get-one-game{
  display:none;
}
#start-game {
  max-width: 200px;
    padding: 15px;
    margin: 0 auto;
    display: none;
}
.black-border {
  border: solid 1px black;
  height: 100px;
}
.board-cell{
  height: 100px;
}

h2{
  text-align: center;
}

#form-reset{
  display: none;
}
#p1-win{
  display: none;
}
#p2-win{
  display: none;
}
#is-draw{
  display: none;
}
#get-games{
  max-width: 200px;
    padding: 15px;
    margin: 0 auto
}
#back-to-signin{
  display: none;
}
.padding {
  height: 300px;
}
.hide-board{
  display: none;
}
